extends ../main.layout.pug

block variables
  - var title = 'Обо мне'

block scripts
  script(src='about.bundle.js')  

block content
  include header

  section.about
    .triangles
      svg(viewBox="0 0 500 100" preserveAspectRatio="none").triangle.triangle-fill__white
        <polygon points="0 0, 500 100, 0 100"/>

      svg(viewBox="0 0 500 100" preserveAspectRatio="none").triangle.triangle-fill__beige
        <polygon points="500 0, 500 100, 0 100"/>
        
    .about__left        
      .about__left-title
        p.block__title - Обо мне -
      .about__left-content
        .user-description
        .user-description__image
          +image('../../assets/images/face.jpg', 'face', 'user-description__avatar')
        .user-description__data
          .user-descrioption__titile
            .block__subtitle - Кто я -
          .user-descrioption__text.text__content
            p Я начинающий веб разработчик. Мне 28 лет. Очень люблю разрабатывать сайты. 
            
    
    .about__right                      
      .aubout__right-titile
        .block__subtitle - Чем я могу быть полезен -
        .about__right-description.text__content
          p Больше всего меня привлекает Frontend.
          p Здесь я буду отображать свои навыки:
        .about__right-content
          -
            var skills = [
              ['Frontend', [['HTML 5', 70], ['CSS 3', 60], ['JavaScript', 35]]],
              ['Backend', [['PHP', 30], ['Laravel', 50], ['MySQL', 70]]],
              ['Workflow', [['GIT', 30], ['Sass', 50], ['Gulp', 70]]],
            ]
          ul.skills-list
            each skillsrow in skills              
              .skills-row__title #{skillsrow[0]}
                  .skills-row__list
                    each skill in skillsrow[1]
                      li.skills-row__item
                        figure.skill
                          svg(viewBox="0 0 100 100" preserveAspectRatio="none").skill__figure
                            circle(cx="50" cy="50" r="40").skill__circle.skill__circle_under
                            circle(cx="50" cy="50" r="40").skill__circle
                          .skill__title #{skill[0]}

  section.map
    .map-google      
      .map__data
        .contacts
          address.contacts-data
            h3.contacts__titile
              .block__subtitle - Контакты -
            ul.contacts__list
              li.contacts__item.contacts__row
                +icon('skype', 'contacts__icon-img')
                p.contacts-row.contacts__title skype_adress
              li.contacts__item.contacts__row
                +icon('envelope', 'contacts__icon-img')
                p.contacts-row.contacts__title limasowalexandr@gmail.com'
              li.contacts__item.contacts__row
                +icon('phone2', 'contacts__icon-img')
                p.contacts-row.contacts__title 89525888252
              li.contacts__item.contacts__row
                +icon('map_marker', 'contacts__icon-img')
                p.contacts-row.contacts__title 347900, Россия, Ростовская обл., г.Таганрог  