section.hero
    .hero_links
      a.social__link(href="http://vk.com/id448870148", target="_blank")
        +icon('vk', 'about__social-img') 
      a.social__link(href="https://github.com/AlexandrAleksandrow/", target="_blank")
        +icon('github', 'about__social-img')
      a.social__link(href="https://github.com/AlexandrAleksandrow/", target="_blank")
        +icon('in', 'about__social-img') 
      
    a(href="#").hamburger.hero__menu
      +icon('hamburger', 'hamburger__img')

    .hero__title
      .section__title      
        .user
          .user__pic            
            +image('../../assets/images/face.jpg', 'face', 'user__pic-img')
          .user__description
            .user__name Александр Лимасов
            .user__info Начинающий веб разработчик
    
    a(href="#").hero_down-btn.down__btn
      +icon('arrow_down', 'arrow-down__img')