ul.social__list
    li.social__item: a.social__link.svg-feel(href="http://vk.com/id448870148", target="_blank").vk__svg
    li.social__item: a.social__link(href="https://github.com/AlexandrAleksandrow/", target="_blank").github__svg
    li.social__item: a.social__link(href="https://github.com/AlexandrAleksandrow/", target="_blank").inst__svg
    
