.welcome__block
  .weclome__content
    img.author__face(src='../../assets/images/face.jpg', alt='author__face')          
    .author__name Лимасов Александр
    .auhthor__greeting Начинающий веб разработчик
    include social
ul.menu
  li.menu__item.left__corner: a.menu__link(href="#", title="myWorks") Мои работы
  li.menu__item: a.menu__link(href="about.html", title="about") Обо мне
  li.menu__item.right__corner: a.menu__link(href="#", title="blog") Блог
p.copy &copy; Alexandr Limasow | created in LoftSchool | 2018          