.welcome__block
  .weclome__content
    img.author__face(src='../../assets/images/face.jpg', alt='author__face')          
    .author__name Лимасов Александр
    .auhthor__greeting Начинающий веб разработчик
    include social
.menu
  a.menu__link.left__corner(href="works.html", title="myWorks") Мои работы
  a.menu__link(href="about.html", title="about") Обо мне
  a.menu__link.right__corner(href="blog.html", title="blog") Блог
p.copy &copy; Alexandr Limasow | created in LoftSchool | 2018          