.welcome__block
  .weclome__content
    img.author__face(src='../../images/face.jpg', alt='author__face')          
    .author__name Лимасов Александр
    .auhthor__greeting Начинающий вебразработчик.
    ul.social__list
      li.social__item: a.social__link(href='http://vk.com/id448870148', target="_blank").vk__svg
      li.social__item: a.social__link(href="https://github.com/AlexandrAleksandrow/", target="_blank").github__svg
ul.menu
  li.menu__item.left__corner: a.menu__link(href="#", title="myWorks") Мои работы
  li.menu__item: a.menu__link(href="about.html", title="about") Обо мне
  li.menu__item.right__corner: a.menu__link(href="#", title="blog") Блог
          