extends ../main.layout.pug

block variables
  - var title = 'Мои работы'

block scripts
  script(src='works.bundle.js')

block content
  include header

  include works__slider

  section.feedback
    .feedback__title
      p.feedback__ttitle-text - Что обо мне - <br> говорят 
    .feedback__comments
      .feedback__comments-content
        .feedback__text 
          p.feedback__curl &#8220; 
          p.feedback__text-content Этот парень проходил обучение веб разработке не где-то, а в LoftSchool! Это бессонные ночи и тяжелые испытания !
        .feedback__man
          .feedback__man-img
            +image('../../assets/images/koval.png', 'feedback__man', 'feedback__man-pic')
          .feedback__man-block
            .feedback__man-name Дмитрий Ковальчук
            .feedback__man-description Основатель LoftScholl
      .feedback__comments-content
        .feedback__text
          p.feedback__curl &#8220; 
          p.feedback__text-content Это достойный код! Только не открывайте его в слишком старых браузерах.
        .feedback__man
          .feedback__man-img
            +image('../../assets/images/saban.png', 'feedback__man', 'feedback__man-pic')
          .feedback__man-block
            .feedback__man-name Владимир Сабанцев
            .feedback__man-description Преподаватель 
    .form__block
      .form__blur
      form.form(action="" name="form")
        h3.form__caption - связаться со мной -
        input.form__input(type="text" placeholder="Имя")
        input.form__input(type="text" placeholder="Email") 
        textarea.form__textarea(name="textarea", placeholder="Ваше сообщение")
        .form__block-button
          button.form__button.button__left Отправить
          button.form__button.button__right Очистить

    a(href="#").feedback__arrow
      +icon('arrow_down', 'feedback__arrow-ico')
  
        
            