section.works
    .works__caption
      +icon('works_header', 'works_caption-ico')
      h2.works__caption-text - Мои работы -
    .works__block
      .works__left
        .works__site
          h3.works__name Сайт авиакомпании
          .works__decs HTML, CSS
        .works__site
          h3.works__name Лендинг BurgerSchop
          .works__decs HTML, CSS, JS
        .works__site
          h3.works__name Учебное портфолио
          .works__decs HTML, CSS, JS, Gulp, Webpack, Vue
        a(href="#").works__button
          +icon('link', 'works__button-ico')
          p.works__button-text Посмотреть сайт

      .works__right