section.works
    .works__title
      +icon('works_header', 'works_title-ico')
      h2.works__title-text - Мои работы -
    
    .slider
    
      .slider-text
        .slider-text__container
          h3.slider-text__subtitle - Сайт авиакомпании -
          .slider-left__tech HTML, CSS
          a.slider-btn(href="#")
            +icon('link', 'slider__button-ico')
            p.slider-btn__text Посмотреть сайт

      .slider-head
        .slider-head__container
          img.slider-head__img(src="../../assets/images/Airplane.png", alt="Big img")

      .slider-slide
        .slider-slide__container
          .slider-slide__block
            a.slider-slide__link(href="#")
              +icon('arrow_down', 'slider-slide__ico')
            .slider-slide__item
              img.slider-slide__img(src="../../assets/images/BurgerShop.png", alt="little.img")
          .slider-slide__block
            a.slider-slide__link(href="#")
              +icon('arrow_down', 'slider-slide__ico slider-slide__ico-tr')
            .slider-slide__item
              img.slider-slide__img(src="../../assets/images/training-portfolio.png", alt="little.img")

      