.fullscreen
  .fullscreen__close X
  nav.fullscreen__nav
    ul.fullscreen__list
      li.fullscreen__item
        a.fullscreen__link(href="about.html") - Обо мне -
      li.fullscreen__item
        a.fullscreen__link(href="works.html") - Мои работы -
      li.fullscreen__item
        a.fullscreen__link(href="blog.html") - Блог -
      li.fullscreen__item
        a.fullscreen__link(href="index.html") - Авторизация -