.fullscreen
  .fullscreen__close X
  nav.fullscreen__nav
    ul.fullscreen__list
      li.fullscreen__item
        a.fullscreen__link(href="#") - Мои работы -
      li.fullscreen__item
        a.fullscreen__link(href="#") - Блог -
      li.fullscreen__item
        a.fullscreen__link(href="#") - Обо мне -
      li.fullscreen__item
        a.fullscreen__link(href="#") - Авторизация -