.triangles  
  svg(viewBox="0 0 500 100" preserveAspectRatio="none").triangle.triangle_fill_white
          <polygon points="0 0, 500 100, 0 100"/>

  svg(viewBox="0 0 500 100" preserveAspectRatio="none").triangle.triangle_fill_beige
            <polygon points="500 0, 500 100, 0 100"/>