// form

.auth__container {
  position: absolute;
  z-index: 90;
}

.auth {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
  background: $white;
  opacity: 0.9;
  padding: 15px;
  border-radius: 5px;
  backface-visibility: hidden;
  z-index: 90;
  transform: rotateY(180deg);
  perspective: 1000px;
}

.auth__title {
  font-size: 35px;
  font-family: "bernier";
  line-height: 1.2;
  text-align: center;
  margin-bottom: 30px;    
}

.auth__row {
  display: flex;
  align-items: center;
  margin-bottom: 20px;

  &:last-child {
    margin-bottom: 0;
  }
}

.auth__input-pic {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
  background: $light-grey;
  border: 1px solid transparent;
  border-radius: 5px 0 0 5px;
}

.auth__input-ico {
  width: 20px;
  height: 20px;
  fill: $grey;
}

.auth__input {
  width: 90%;
  height: 45px;
  border: 1px solid transparent;
  border-radius: 0 5px 5px 0;
  padding: 5px;
  outline: none;
}

.auth__checkbox {
  display: flex;
  position: relative;
}

.auth__checkbox--invisible {
  position: absolute;
  left: -999999px;
  
  
  &:checked + .auth__checkbox--visible {
    background: $green;
    border: transparent;
  } 
}

.auth__checkbox--visible {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  background: transparent;
  margin-right: 10px;
  cursor: pointer;
  border: 1px solid $grey;
  border-radius: 3px;
}

.auth__checkbox-pic {
  display: flex;
  justify-content: center;
  align-items: center;
  display: block;
  width: 20px;
  height: 20px;  
  color: $white;
  background: svg-load('check.svg', fill=$white) center center no-repeat;
}

.auth__radio {
  text-align: center;
  margin-bottom: 64px;
}

.auth__subtitle {
  margin-bottom: 15px;
  font-size: 16px;
  font-family: "Roboto";
    line-height: 1.5;
}

.auth__button {
  position: relative;
  display: flex;
  align-items: center;
  margin-right: 40px;
  cursor: pointer;

  &:last-child {
    margin-right: 0;
  }
}

.form__circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  border: 1px solid $grey;
  border-radius: 50%;
  margin-right: 10px;

}

.form__circle-inner {
  display: none;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: $green;
}

.auth__radioBtn {
  position: absolute;
  left: -9999px;
  
  &:checked + .form__circle .form__circle-inner {
    display: block;
  }

  &:checked ~ .auth__radio-text {
    color:  $green;
  }
}

.row-btn {
  position: absolute;
  left: 0; 
  bottom: 0;
  width: 100%;   
}

.auth__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
 // height: 45px;
  background: $green;
  border-right: 1px solid $white;
  color: $white;
  text-decoration: none;
  opacity: 0.9;
  padding: 19px;

  &:last-child {
    border-right: none;
  }

  &:hover {
    opacity: 1;
  }
}

.left-btn {
  border-radius: 0 0 0 5px;
}

.right-btn {
  border-radius: 0 0 5px 0;
}


.flip__auth {
  &.auth {
    transform: rotateY(360deg);
    transition: 0.5s;
  }
}

.flip__auth--remove {
  &.auth {
    transform: rotateY(180deg);
    transition: 0.5s;
  }
}