.articles {
  min-height: none;
  position: relative;
  display: flex;
  justify-content: flex-start;
  padding-top: 40px;  
}

.triangles {
  position: absolute;
  top: -100px;
  left: 0;
  display: flex;
  width: 100%;
}

.triangle__left {   
  fill: #ffffff;
  width: 50%;    
  height: 100px;
}

.triangle__right {
  fill: #ffffff;    
  height: 100px;
  width: 50%;
}

.articles__list {
  width: 20%;
  margin-right: 10%;
  text-align: right;
}

.articles__item {
  font-size: 16px;
  font-family: "Roboto";
  margin-bottom: 25px;
  font-weight: 500;
  cursor: pointer;    
}

.articles__item--active {
  color: $green;
}










.articles__content {
  width: 60%;
  text-align: justify;
}

.articles__block {
  border-bottom: 5px solid $light-grey;
  margin-bottom: 60px;
}

.articles__caption {
  font-size: 35px;
  font-family: "bernier";
  line-height: 1;
  margin-bottom: 30px;
}

.articles__date {
  color: $green;
  margin-bottom: 30px;
}

.articles__text {
  margin-bottom: 70px;
}

.articles__paragraph {
  text-indent: 30px;
}

