.articles {
  min-height: none;
  position: relative;
  display: flex;
  justify-content: flex-end;
  padding-top: 40px;
  padding-right: 15%;
  
  
  @include tablet {
    justify-content: center;
    padding-right: 0;
  }
}

.articles__list--fixed {
  position: fixed;
  top: 40px;
  left: 20.5%;
}

.articles__list {
  text-align: right;

  @include tablet {
    position: fixed;
    top: 0;
    left: -90%;
    width: 90%;
    height: 100%;    
    background: $green;
    opacity: 0.9;
    display: flex;
    flex-direction: column;    
    justify-content: center;
    align-items: flex-end;
    color: $white;  
    padding-right: 5%;     
  }
}

.articles__list--open {

  @include tablet {
    left: 0;     
  }
}


.articles__item {
  font-size: 16px;
  font-family: "Roboto";
  margin-bottom: 25px;
  font-weight: 500;
  cursor: pointer;    
}

.articles__item--active {
  color: $green;

  @include tablet {
    color: $grey;  
  }
}

.articles__link {
  text-decoration: none;
  color: inherit;
}

.articles__content {
  width: 60%;
  text-align: justify;
  margin-left: 10%;

  @include tablet {
    width: 90%;
    margin-left: 0;    
  }
}

.articles__block {
  border-bottom: 5px solid $light-grey;
  margin-bottom: 60px;
}

.articles__block--fixed {
  border-bottom: 5px solid $light-grey;
  margin-bottom: 60px;
}

.articles__caption {
  font-size: 35px;
  font-family: "bernier";
  line-height: 1;
  margin-bottom: 30px;
}

.articles__date {
  color: $green;
  margin-bottom: 30px;
}

.articles__text {
  margin-bottom: 70px;
}

.articles__paragraph {
  text-indent: 30px;
}

.swipe {
  display: none;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 50%;
  left: 100%;
  cursor: pointer;

  @include tablet {
    display: block;    
  }
}

.swipe__img {
  width: 30px;
  height: 30px;
  fill: $green;
}