.button {
  display: block;
  position: absolute;
  top: 3%;
  right: 3%;
  width: 180px;
  height: 45px;
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 5px;
  color: $grey;
  font-weight: 500;

  &:hover {
    background-color: #fff;
    color: $green;
  }
}