.feedback {
  background: url(../../assets/images/feedback.png) center center/cover no-repeat;
}

.feedback__title {
  text-align: center;
}

.feedback__ttitle-text {
  font-size: 263;
  font-family: "bernier";
}