.feedback {
  background: url(../../assets/images/feedback.png) center center/cover no-repeat;
  padding: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.feedback__title {
  background: url(../../assets/images/aboutfb.png) center center no-repeat;
  text-align: center;
  margin-bottom: 50px;
  width: 80%;  
}

.feedback__ttitle-text {
  font-size: 63px;
  font-family: "bernier";
  line-height: 1.2;
  
  @include tablet {
    font-size: 40px;
  }
}

.feedback__comments {
  display: flex;
  width: 85%;
  margin-bottom: 70px;

  @include tablet {
    flex-direction: column;
    align-items: center;
  }
}

.feedback__comments-content {
  width: 50%;

  @include tablet {
    width: 95%;
    margin-bottom: 30px;
  }
}

.feedback__curl {
  font-size: 55px;
  font-family: "fontawesome";
  line-height: 0.5;
}

.feedback__text {
  margin-bottom: 30px;
}

.feedback__text-content {
  font-size: 16px;
  font-family: "Roboto";
  text-align: center;
}

.feedback__man {
  display: flex;

  @include tablet {    
    align-items: center;
    justify-content: center;
  }
}

.feedback__man-img {
  margin-right: 20px;
}

.feedback__man-name,
.feedback__man-description {
  color: $green;

  @include tablet {
    font-size: 12px;
  }
}


//form

.form__block {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  margin-bottom: 100px;
  overflow: hidden;
}

.form__blur {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
 //background-image: url(../../assets/images/feedback.png);
  //background-repeat: no-repeat;
  background-position: center -260px;
  background-size: 900px 100vh;  
  //filter: blur(5px);
  background-color: #eceff1;
  opacity: 0.5; 
  overflow: hidden; 
}

.form {  
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;  
  border-radius: 5px;  
  z-index: 10;
  padding-top: 10px;
}

.form__caption {
  font-size: 35px;
  font-family: "bernier";
  line-height: 1.1;
  margin-bottom: 40px;
}

.form__input {
  width: 95%;
  height: 50px;
  border: 1px solid transparent;
  border-radius: 5px;
  padding: 1%;
  margin-bottom: 20px;
  outline: none;
}

.form__textarea {
  width: 95%;
  height: 140px;
  border: 1px solid transparent;
  border-radius: 5px;
  padding: 1%;
  margin-bottom: 20px;
}

.form__block-button {
  width: 100%;
}

.form__button {
  width: 50%;
  height: 50px;
  background-color: $green;
  color: $white;
  font-size: 16px;
  font-family: "Roboto";
  border-right: 1px solid $white;

  &:last-child {
    border-right: none;
  }
}

.button__left {
  border-radius: 0 0 0 5px;
}

.button__right {
  border-radius: 0 0 5px 0;
}

.feedback__arrow {
  position: absolute;
  bottom: 4%;
  left: 50%; 
  transform: translateX(-50%);
}

.feedback__arrow-ico {
  width: 30px;
  height: 30px;
  fill: $white;
  transform: rotate(180deg);
}