.footer {
  height: 150px;
  width: 100%;
  background: #555b5e;
  opacity: .9;
  
  @include tablet {        
    height: 200px;
}
}

.footer__row {
  border-bottom: .5px solid $white;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;

  &:last-child {
      border-bottom: none;
  }

  @include tablet {        
    flex-direction: column;
  }
}

.menu__list {
  display: flex;
}

.menu__items {
  margin-right: 15px;

  &:last-child {
    margin-right: 0;
  } 
  
  @include tablet {        
    margin-right: 10px;
  }
}

.menu__links {
    font-size: 16px;
    font-family: "Roboto";
    color: $white;
    text-decoration: none;
  
  &:hover {
      color: $green;
  }

  @include tablet {        
    font-size: 14px;
  }
}

.footer__social {
  display: flex;
}

.footer__block {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  border: 1px solid $grey;
  border-radius: 50%;
  margin-right: 15px;

  &:last-child {
    margin-right: 0;
  }
  
  &:hover {
      background: $white;
      border: $white;
  }
}

a.footer__social-link {
  width: 20px;
  height: 20px;
}

.footer__social-img {
  width: 20px;
  height: 20px;
  fill: $grey;
  line-height: 1;
  margin: 0;
  padding: 0;    
}

.footer__desc {
  font-size: 16px;
  font-family: "Roboto";
  color: $white; 
  
  @include tablet {        
    text-align: center;
    font-size: 12px;    
  }
}

.footer__copy {
  font-size: 16px;
  font-family: "Roboto";
  color: $white; 
  
  @include tablet {   
    font-size: 12px;    
  }
}