/*.inlined-svg {
  background: svg-load('github.svg', fill=$green) center center no-repeat;
  width: 30px;
  height: 30px;
  cursor: pointer;
  
  &:hover {
    background-image: svg-load('github.svg', fill=red);
  }
}*/

section { 
  position: relative;
}

.welcome {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;    
	background: url(../../assets/images/mount.jpg) center center/cover no-repeat $light-grey;
  overflow: hidden;
}

/*.backgrounds {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}*/

.parallax__img {
  position: absolute;
  display: block;
  width: 30%;
  height: 25%;

  @include tablet {
    height: 10%;
  }
}

.layer1 {
  top: 30%;
  left: 10%;
  z-index: 15;
}

.layer2 {
  width: 120%;
  height: 60%;
  bottom: 0;
  right: 0;
  z-index: 20;
}

.layer3 {
  top: 50%;
  left: 50%;
  z-index: 30;
}

.layer4 {
  width: 120%;
  height: 60%;
  top: 30%;
  left: -10%;
  z-index: 10;
}

.layer5 {
  width: 120%;
  height: 40%;
  top: 20%;
  left: -10%;
  z-index: 9;
}

.layer6 {
  width: 120%;
  height: 40%;
  top: 15%;
  left: -10%;
  z-index: 5;
}


.flip__container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;  
}

.welcome__block {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  min-height: 400px;
  background: $white;
  opacity: .95;
  border-radius: 7px; 
  padding-top: 20px;
  z-index: 100;
  backface-visibility: hidden;
  perspective: 1000px;
}

.weclome__content {
  text-align: center;
}

.author__face {
  width: 140px;
  height: 150px;
  border-radius: 50%;
  margin-bottom: 20px;
}

.author__name {
  margin-bottom: 10px;
}

.auhthor__greeting {
  margin-bottom: 35px;
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;  
}

.menu__link {
  display: flex;
  justify-content: center;
  align-items: center;  
  background: $green;
  opacity: .8;
  cursor: pointer;
  border-right: 1px solid $white;
  text-decoration: none;
  color: $white;
  font-weight: 500;
  padding: 20px;

  &:last-child {
    border-right: none;
  }

  &:hover {
    opacity: 1;
  }
}

.left__corner {
  border-radius: 0 0 0  7px;
}

.right__corner {
  border-radius: 0 0 7px 0;
}

.copy {
  position: absolute;
  bottom: 0;  
  color: $white;
  font-weight: 300;  
  margin-bottom: 10px;
  z-index: 100;
}

//Flip

.flip__welcome {
  &.welcome__block {
    transform: rotateY(180deg);
    transition: 0.5s;
  }  
}

.flip__welcome--remove {
  &.welcome__block {
    transform: rotateY(360deg);
    transition: 0.5s;
  }  
}
