/*.inlined-svg {
  background: svg-load('github.svg', fill=$green) center center no-repeat;
  width: 30px;
  height: 30px;
  cursor: pointer;
  
  &:hover {
    background-image: svg-load('github.svg', fill=red);
  }
}*/

section { 
 // min-height: 100vh;
  position: relative;
  //min-height: rem(650px);
}

.welcome {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;    
	background: url(../../assets/images/mount.jpg) center center/cover no-repeat $light-grey;
}

.welcome__block {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  min-height: 400px;
  background: $white;
  opacity: .95;
  border-radius: 7px; 
  padding-top: 20px;
}

.weclome__content {
  text-align: center;
}

.author__face {
  width: 140px;
  height: 150px;
  border-radius: 50%;
  margin-bottom: 20px;
}

.author__name {
  margin-bottom: 10px;
}

.auhthor__greeting {
  margin-bottom: 35px;
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 380px;    
}

.menu__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 33.33333%;
  height: 50px;
  background: $green;
  opacity: .8;
  cursor: pointer;
  border-right: 1px solid $white;
  text-decoration: none;
  color: $white;
  font-weight: 500;

  &:last-child {
    border-right: none;
  }

  &:hover {
    opacity: 1;
  }
}

.left__corner {
  border-radius: 0 0 0  7px;
}

.right__corner {
  border-radius: 0 0 7px 0;
}

.copy {
  position: absolute;
  bottom: 0;  
  color: $white;
  font-weight: 300;  
  margin-bottom: 10px;
}