.map {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-style: normal;
  height: 100vh;
}

.map-google {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: url(../../assets/images/map.png) center center/cover no-repeat;

  @include phone {
    align-items: flex-start;
  }
}

.map__data {  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;  
  background: $white;
  opacity: .8;
  border-radius: 10px;

  &:hover {
      opacity: 1;
  }

  @include phone {
    width: 100%;
  }
}

.contacts-data {
  margin: 0;
  padding: 5%; 
}

.contacts__row {
display: flex;
margin-bottom: 20px;
text-decoration: none;
text-decoration: none;
}

.contacts__icon-img {
  width: 30px;
  height: 30px;
  fill: $green;
  margin-right: 5%;
}